/* Estilização da página principal */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background-color: #ffffff; /* Cor de fundo opcional */
  padding: 20px; /* Adiciona espaçamento ao redor do conteúdo */
  font-family: Arial, sans-serif; /* Definir uma fonte agradável */
}

/* Container dos QR Codes */
.qrcode-container {
  margin-bottom: 20px; /* Espaçamento entre os QR codes */
}

/* Área dos QR Codes */
#qrcode-area {
  text-align: center;
  display: flex;
  flex-wrap: wrap; /* Permite que os QR codes se ajustem em várias linhas, se necessário */
  justify-content: center; /* Centraliza os QR codes */
  gap: 15px; /* Espaço entre os QR codes */
}

/* Responsividade para telas pequenas */
@media (max-width: 600px) {
  body {
    padding: 10px; /* Menos padding em telas pequenas */
  }

  .qrcode-container {
    margin-bottom: 10px; /* Menor espaçamento entre os QR codes em dispositivos móveis */
  }
}